<table align="center" class="es-content-body">
    <tr>
        <td class="es-content-body_wrap padding-x-40">
            <table>
                <tr>
                    <td>
                        <p> Hi {{firstName}},</p>
                    </td>
                </tr>
                <tr>
                    <td class="padding-y-20">
                        <p>
                            Your listing <a href="{{item.itemLink}}" target="_blank">{{item.itemName}}</a> (reference: #{{referenceNumber}}) has closed and did not sell.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="es-content-body_wrap padding-b-10 padding-x-40">
            <table>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td class="padding-y-10">
                                    <table>
                                        <tr>
                                            <td colspan="2" width="100%">
                                                <h4>Listing details</h4>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Item</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>
                                                    <strong>
                                                        <a target="_blank" href="{{item.itemLink}}">{{item.itemName}}</a>
                                                    </strong>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Reference #</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{referenceNumber}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Price</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{price}}</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-t-20 padding-b-10">
                                    <table>
                                        <tr>
                                            <td Shipping="2" width="100%">
                                                <p>Your listing was views {{listingViews}} times and {{listingWatchlist}} people added it to their watchlist.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>