<table align="center" class="es-content-body">
    <tr>
        <td class="es-content-body_wrap padding-x-40">
            <table>
                <tr>
                    <td>
                        <p> Hi {{firstName}},</p>
                    </td>
                </tr>
                <tr>
                    <td class="padding-y-20">
                        <p>
                            A member has asked a question on your listing for "{{item.itemName}}"
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="padding-b-20">
                        <p>
                            {{listingQuestion}} <small class="margin-left:5px;margin-right:5px;"><i>posted by:</i></small> <a href="{{user.userLink}}" target="_blank"><strong><u>{{user.userName}}</u></strong></a> <small>{{dateTimePosted}}</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="padding-y-20">
                      <p>
                        <strong>
                            <a class="es-question_link" target="_blank" href="{{questionLink}}"><u>Answer this question</u></a>
                        </strong>
                      </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>