<table align="center" class="es-content-body">
    <tr>
        <td class="es-content-body_wrap padding-x-40">
            <table>
                <tr>
                    <td>
                        <p> Hi {{firstName}},</p>
                    </td>
                </tr>
                <tr>
                    <td class="padding-y-20">
                        <p>
                            Congratulations, a buyer has purchased your listing <a href="{{item.itemLink}}" target="_blank">{{item.itemName}}</a> using buy now (reference: #{{referenceNumber}}).
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="es-content-body_wrap padding-b-10 padding-x-40">
            <table>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td class="padding-y-10">
                                    <table>
                                        <tr>
                                            <td colspan="2" width="100%">
                                                <h4>Purchase details</h4>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Item</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>
                                                    <strong>
                                                        <a target="_blank" href="{{item.itemLink}}">{{item.itemName}}</a>
                                                    </strong>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Reference #</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{referenceNumber}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Price</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{price}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Subtotal</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{subTotal}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Shipping</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shipping}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Total to pay</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>
                                                    <strong>{{totalToPay}}</strong>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Buyer</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>
                                                    <a target="_blank" href="{{buyer.buyerLink}}">{{buyer.buyerUserName}}</a>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p><br/></p>
                                            </td>
                                            <td class="padding-y-5">
                                                <a target="_blank" href="mailto:{{buyer.buyerEmail}}">{{buyer.buyerEmail}}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>Success fee</p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{successFee}}</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table>
                                        <tr>
                                            <td class="es-divider padding-t-20"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-t-20 padding-b-10">
                                    <table>
                                        <tr>
                                            <td Shipping="2" width="100%">
                                                <h4>Shipping details</h4>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding-b-10">
                                    <table>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Shipping method</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shippingDetails.shippingMethod}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Delivery address</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shippingDetails.deliveryAddress.street}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p><br/></p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shippingDetails.deliveryAddress.subLocality}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p><br/></p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>
                                                    {{shippingDetails.deliveryAddress.locality}} {{shippingDetails.deliveryAddress.postalCode}}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p><br/></p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shippingDetails.deliveryAddress.country}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><br /></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="es-column-fixed_width padding-y-5 padding-r-10">
                                                <p>
                                                    <strong>Phone number</strong>
                                                </p>
                                            </td>
                                            <td class="padding-y-5">
                                                <p>{{shippingDetails.phoneNumber}}</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>